.Tittle{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    height: 100px;
}

.div-0{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid purple; */
    height: 560px;
}

.div-1{
    /* border: 1px solid red; */
    width: 40%;
    /* height: 700px; */ /* esto ess nuevo */
}

.div-2{
    /* border: 1px solid green; */
    box-shadow: 0px 4px 60px 16px rgba(0, 0, 0, 0.25);
    width: 40%;
    height: 470px;
}

form{
    display: flex;
    flex-direction: column;
    height: 30%;
}

.label{
    text-align: center;
    font-family: 'Roboto';
    height: 35%;
    font-size: 1.4rem;
}

.label-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto';
    font-size: 1.4rem;
    padding: 10px;
}

.WrapperForm{
    /* border: 1px solid blue;   */
    padding: 5px;
    height: 400px;
    box-shadow: 0px 4px 60px 16px rgba(0, 0, 0, 0.25);
}

.tipoOperación{
    height: 62px;
    width: 80%;
    position: relative; 
    left: 10%; 
    background: #F1F8FF;
    border-radius: 8px;
    border: none;
}

.resultado{
    background: #F1F8FF;
    height: 46%;
    width: 85%;
    font-family: 'Roboto';
    position: relative; 
    left: 46px; 
    font-size: 1rem;
}