*{
    margin: 0;
    padding: 0;
}

.dropdownmenu{
    display: flex;
}

.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul{
    list-style: none;
}

.dropdownmenu li{
    float: left;
    position: relative;
    width: 732px;
}

.dropdownmenu a{
    font-family: 'Roboto';
    background: #DB3F59;
    color: white;
    display: block;
    font-weight: 400;
    font-size: 1.3rem;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25 ease;
}

.dropdownmenu li:hover a{
    background: #4F4F4F;
}